nav {
  background-color: #212529;
  width: 100%;
  height: 4rem;
  display: flex;
  z-index: 1;
  position: fixed;
}
nav .navbutton {
  display: inline-block;
  color: white;
  background-color: #212529;
  height: 4rem;
  min-width: 6rem;
  padding: 1.1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-right: 1px solid;
  text-decoration: none;
}
@media (max-width: 768px) {
  nav .navbutton {
    display: none;
  }
}

footer {
  background-color: #212529;
  color: white;
  width: 100%;
  min-height: 6rem;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
@media (max-width: 768px) {
  footer {
    padding-left: 5%;
    padding-right: 5%;
  }
}

rect {
  transform-origin: center;
}

#photo {
  z-index: -1;
  background-image: url("mont.jpg");
  background-size: cover;
  position: fixed;
  padding-top: 4rem;
  width: 100%;
  height: 40rem;
}

#space {
  min-height: 40rem;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 19rem;
}

#content {
  padding-top: 5rem;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 768px) {
  #content {
    width: 96%;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #content {
    width: 90%;
  }
}

#main {
  background-color: white;
  padding-bottom: 3rem;
}
#main::before {
  content: "";
  height: 3rem;
  background-color: #fff;
  width: 100%;
  position: absolute;
  position: absolute;
  margin-top: -39px;
  border-top-right-radius: 81%;
}
#main::after {
  width: 100%;
  content: "";
  margin-top: 4rem;
  background-color: #212529;
  height: 2rem;
  display: inherit;
  margin-bottom: -3rem;
  border-top-right-radius: 80%;
}

#list {
  float: left;
  width: 70%;
  min-height: 300px;
  padding-right: 1rem;
}
@media (max-width: 1200px) {
  #list {
    float: none;
    width: 100%;
  }
}

#side {
  float: right;
  width: 30%;
  min-height: 300px;
}
@media (max-width: 1200px) {
  #side {
    float: none;
    width: 100%;
    min-height: 100px;
    margin-top: 2rem;
  }
}

#comments {
  margin-top: 2rem;
  border-radius: 4px;
  background-image: linear-gradient(90deg, #ffffff 0%, #16f7b0 100%);
}

#com_title {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
}

#com_text {
  width: 80%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.search-form {
  width: 300px;
}

.btn-search {
  width: inherit;
}

.search {
  width: 300px;
  line-height: 2rem;
  font-size: 20px;
}

.list-item {
  border-left-width: 1px;
  border-left-style: solid;
  margin-bottom: 2rem;
  padding-left: 1rem;
}
.list-item h4 {
  color: blue;
}

.card {
  width: 33%;
}
@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .card {
    width: 49.8%;
  }
}

.drop {
  display: inline-block;
  color: white;
  background-color: #212529;
  height: 4rem;
  min-width: 6rem;
  padding: 1.1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-right: 1px solid;
  text-decoration: none;
  display: none;
}
@media (max-width: 768px) {
  .drop {
    display: inline-block;
  }
}

.dropdown_menu {
  background-color: white;
  max-height: 0px;
  display: none;
  padding: 1rem;
}
.dropdown_menu a {
  display: inherit;
  margin-bottom: 1rem;
}

.comment {
  margin-top: 2rem;
  border-top-style: solid;
  border-top-width: 1px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.comment h5 {
  color: blue;
}
.comment h6 {
  color: grey;
}

/*# sourceMappingURL=style.css.map */
