$black: #000000


@mixin for-phone-only
  @media (max-width: 768px)
    @content

@mixin for-tablet-only
  @media (min-width: 769px) and (max-width: 1200px)
    @content

@mixin tablet-and-phone
  @media (max-width: 1200px)
    @content

nav
  background-color: $black
  width: 100%
  height: 4rem
  display: flex
  z-index: 1
  position: fixed
  .navbutton
    display: inline-block
    color: white
    background-color: black
    height: 4rem
    min-width: 6rem
    padding: 1.1rem
    padding-left: 3rem
    padding-right: 3rem
    border-right: 1px solid
    text-decoration: none
    @include for-phone-only
      display: none


footer
  background-color:  black
  width: 100%
  min-height: 6rem
  display: flex
  justify-content: center
  padding-top: 1rem
  @include for-phone-only
    padding-left: 5%
    padding-right: 5%


rect
  transform-origin: center

#photo
  z-index: -1
  background-image: url("mont.jpg")
  background-size: cover
  position: fixed
  padding-top: 4rem
  width: 100%
  height: 40rem

#space
  min-height: 40rem
  width: 100%

#content
  padding-top: 5rem
  width: 1200px
  margin-left: auto
  margin-right: auto
  display: flex
  flex-wrap: wrap
  row-gap: 5px
  flex-direction: row
  justify-content: space-between
  @include for-phone-only
    width: 96%
  @include for-tablet-only
    width: 90%

#main
  background-color: white
  padding-bottom: 3rem
  &::before
    content: ""
    height: 3rem
    background-color: #fff
    width: 100%
    position: absolute
    position: absolute
    margin-top: -39px
    border-top-right-radius: 81%



#list
  float: left
  width: 70%
  min-height: 300px
  padding-right: 1rem
  @include tablet-and-phone
    float: none
    width: 100%

#side
  float: right
  width: 30%
  min-height: 300px
  @include tablet-and-phone
    float: none
    width: 100%
    min-height: 100px
    margin-top: 2rem


.list-item
  border-left-width: 1px
  border-left-style: solid
  margin-bottom: 2rem
  padding-left: 1rem
  h4
    color: blue

.card
  width: 33%
  @include for-phone-only
    width: 100%
  @include for-tablet-only
    width: 49.8%

.drop
  display: inline-block
  color: white
  background-color: black
  height: 4rem
  min-width: 6rem
  padding: 1.1rem
  padding-left: 3rem
  padding-right: 3rem
  border-right: 1px solid
  text-decoration: none
  display: none
  @include for-phone-only
    display: inline-block

.dropdown_menu
  background-color: white
  max-height: 0px
  display: none
  padding: 1rem
  a
    display: inherit
    margin-bottom: 1rem
